body {
  color: #000;
  background-color: #fff;
  font-family: monospace;
}

div {
  font-size: 150%;
  margin: 0 0 5px 0;
  text-align: right;
}

a, span {
  text-decoration: none;
  color: #000;
  transition: color 0.5s ease-out;
  cursor: pointer;
}

a:hover, span:hover {
  color: #00f;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  font-family: monospace;
  font-size: 200%;
}

table {
  border-collapse: collapse;
}

tr {
  transition: background-color 0.5s ease-out;
}

tr:hover {
  background-color: #eee;
}

td {
  font-family: monospace;
  font-size: 200%;
  padding: 3px;
}

td.wide {
  width: 2em;
}
