body {
  color: #000;
  background-color: #fff;
}

textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  resize: none;
  font-family: monospace;
  font-size: 200%;
}

table {
  border-collapse: collapse;
}

tr:hover {
  background-color: #eee;
}

td {
  font-family: monospace;
  font-size: 200%;
  padding: 3px;
}

td.wide {
  width: 2em;
}
